.postSection {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 400px));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  justify-items: stretch;
  align-items: stretch;
}
.postWrapper {
  background-color: rgb(246, 227, 246);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a.postWrapper {
  background-color: rgb(246, 227, 246);
  height: 100%;
}
.postImage_img {
  width: 100%;
  border-radius: 10px;
}
.postText {
  display: flex;
  flex-direction: column;
}
.postWrapper {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;

  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.postWrapper:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
