.postSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap:40px;

    padding:20px;
}
.postWrapper{
    background-color: blanchedalmond; 
}