.post_wrapper__info{
    background-color: bisque;
    padding:10px 30px;
    justify-content: flex-start;
}
.post_wrapper__comments{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px 30px;
    gap:20px;
}
.post_wrapper__comments img{
    width: 100px;
    height: 100px;
}
.post_wrapper__commentsSingle{
    display: flex;
    gap:40px;
    justify-content: left;
    align-items: center; 
    background-color: bisque;
    padding:10px 30px;
}
.post_wrapper__commentsSingle__info{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start
}
.post_wrapper__commentsSingle__name{
    font-weight: 700;
    
}
.add_new_comment{
    display: flex;
    flex-direction: column;
}
.post__delete_button, .post__edit_button{
    background-color: black;
    margin:20px;
}